@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/*

*/

:root {
	/* Base font size // BG 10/25/2019 */
	font-size: 10px;

	/* Heading height variable. Should work now // BG 10/30/2019 */
	--heading-height: 30em;
}

{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

/* Scroll works with angled header.
DON'T CHANGE WITHOUT EDITING THE HEADER // BG 10/15/2019 */

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: scroll;
  font-family: "Roboto", Arial, sans-serif;
  min-height: 100vh;

}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Angled header, should work on mobile but who knows // BG 10/31/2019 */

header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-3.5deg);
	background:
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		url(https://unsplash.com/photos/9BJRGlqoIUk) no-repeat center,
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

/* REM - see :root to change font sizes // BG 10/15/2019 */
h1 {
	font-size: calc(2.8em + 2vw);
	font-weight: 300;
	letter-spacing: .01em;
	padding: 5rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #fcfcfc;
	color: #fff;
}

/* H2 is the main header text, got too far and didn't want to change
all the H1s back // BG 11/2/2019 */

h2 {
	font-size: calc(3.2em + 2vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 5rem 0 0 4.5rem;
	text-shadow: .030em .030em .030em #fcfcfc;
	color: #a9b4c4;
}

/* padding calculated to work with mobile, VW = viewport width
this shouldn't be changedunless something is wrong with display
// BG 10/22/2019 */

main {
	padding: calc(var(--heading-height) + 1.5vw) 4em 0;
}


p {
	font-size: calc(2em + .25vw);
	font-weight: 400;
	line-height: 2;
	margin-bottom: 1.5em;
	color: #fcfcfc;
	padding: 5rem 0 0 4.5rem;

}


/* Took angle off of footer, text and links didn't fit as originally planned
// BG 11/2/2019 */

footer {
width: 100%;
height: var(--heading-height);
content: "";
display: block;
position: relative;
left: 0;
bottom: 0em;
width: 100%;
z-index: -1;
background:
	linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
	url(https://unsplash.com/photos/9BJRGlqoIUk) no-repeat center,
	linear-gradient(#4e4376, #2b5876);
background-size: cover;
border-bottom: .2em solid #fff
}
